@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// ------ Design System ------

// Colors

$primary-Dark-Pink: #BA4270;
$primary-Water-White: #FBFCFE;
$primary-background-color: #EDF3F8;

$secondary-Dark-Blue: #36536B;
$secondary-San-Juan-Blue: #36536B;
$secondary-Mirage-Blue: #1B262F;
$secondary-Charm-Pink: #DA6D97;
$secondary-Light-San-Juan-Blue: #6C8294;


html {
    font-size: 10px; // 1rem = 10px
    font-family: 'Public Sans', sans-serif;
}

body {
    background-color: $primary-background-color;
    // max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

// Font small screen 

h1, h2, h3, h4 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    color: $secondary-San-Juan-Blue;
}

h3.small {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

p.body {
    font-size: 1.5rem;
}

p.code {
    font-family: 'Roboto Mono', monospace;
}

.hidden {
    display: none;
}

.section {
    padding-block: 4rem;
}

.dark-button-style {
    display: block;
    width: 130px;
    font-size: 1.5rem;
    color: $primary-Water-White;
    background-color: transparent;
    letter-spacing: -0.12px;
    border: 1px solid $primary-Water-White;
    border-radius: 24px;
    padding: 1.6rem 3.2rem 1.4rem;
    transition: 0.3s ease;

    &:hover {
        background-color: $primary-Water-White;
        color: $secondary-San-Juan-Blue;
        border-color: transparent;
    }
}

// header 

header {
    position: relative;
    width: 100%;
    height: 130vh;

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        // max-width: 100%;
        top: -65%;
        left: 0%;
        background: url('../images/background-elements/full.png') no-repeat center/cover;
        z-index: -1; 
    }
}

.container {
    width: 100%;
    max-width: 536px;
    margin: 0 auto;
    padding: 0 2.5rem;
}

header .nav {
    width: 100%;
    height: 4rem;
    // margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav .menu {
    position: fixed;
    height: 100vh;
    width: 80%;
    background-color: $secondary-Mirage-Blue;
    right: -100%;
    top: 0;
    transition: 0.3s ease;
}

header .toggle {
    cursor: pointer !important; 
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary-Dark-Blue;
    // z-index: 1000;
}

header .phone-image {
    // height: 250px;
    width: 150px;
    margin: 3.2rem auto 4.8rem;
    border-radius: 20px; 
    box-shadow: 20px 20px 80px rgba(54, 83, 107, 0.300727);
}

.h2-small {
    text-align: center;
    font-size: 3.2rem;
    line-height: 36px;
    letter-spacing: -0.25px;
}

.header__bottom {
    form input {
        font-size: 1.5rem;
        font-weight: 500;
        color: $secondary-San-Juan-Blue;
        width: 100%;
        border: none;
        outline: none;
        background-color: $primary-Water-White;
        margin-top: 2.4rem;
        margin-bottom: 1.6rem;
        padding: 1.6rem 2.4rem 1.4rem;
        border-radius: 24px;

        &::placeholder {
            color: inherit;
            font-weight: bold;
        }
    }
    button {
        width: 100%;
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        padding: 1.6rem 2.4rem 1.4rem;
        text-align: center;
        border: none;
        outline: none;
        border-radius: 24px;
        background-color: $primary-Dark-Pink;
        margin-bottom: 2.4rem;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
            background-color: $secondary-Charm-Pink;
        }
    }

    .header__bottom-question {
        text-align: center;
        font-size: 1.5rem;
        color: $secondary-San-Juan-Blue;

        a {
            font-weight: bold;
            color: inherit;
        }
    }
}

// About

.about {
    position: relative;
    background-color: $secondary-Mirage-Blue;
    padding-block: 8rem;
    overflow: hidden;
    height: 100%;

    &::before {
        content: '';
        position: absolute;
        background: url('../images/background-elements/full.png') no-repeat;
        background-position: 50% 159%;        
        height: 60%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .company-logos {
        height: 154px;
        display: flex;
        justify-content: space-evenly;
        align-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 5.6rem;

        img {
            transform: scale(0.85);
        }
    }

    .about__text {
        color: $primary-Water-White;

        .about__text-title {
            color: inherit;
            margin-bottom: 1.6rem;
        }
        .about__text-paragraph {
            font-size: 1.5rem;
            font-weight: 300;
            text-align: center;
            line-height: 28px;
            margin-bottom: 6rem;
        }
        .dark-button-style {
            margin-inline: auto;
        }
    }
}

