// color themes

$primary-Dark-Pink: #BA4270;
$primary-Water-White: #FBFCFE;
$primary-background-color: #EDF3F8;

        /* ---------- */

$secondary-San-Juan-Blue: #36536B;
$secondary-Mirage-Blue: #1B262F;
$secondary-Charm-Pink: #DA6D97;
$secondary-Light-San-Juan-Blue: #6C8294;